#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.cv-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

legend {
  font-weight: 700;
  font-size: 18px;
}

label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
